.card {
  border: none !important;
  border-radius: 0.7rem !important;
}

.card .card-header {
  padding: 15px 15px 0;
  background-color: #fff;
  border-bottom: none !important;
}

.card .card-title {
  margin: 0;
  color: #333;
  font-weight: 300;
}

.card .card-body {
  padding: 15px 15px 10px;
}

.card .card-footer {
  padding-top: 0;
  background-color: transparent;
  line-height: 30px;
  border-top: none !important;
  font-size: 14px;
}

.card label,
.card-category {
  font-size: 12px;
  font-weight: 400;
  color: #9a9a9a;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.form-control-select {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table > thead > tr > th {
  font-size: 15px;
  text-transform: uppercase;
  color: #9a9a9a;
  font-weight: 400;
  padding-bottom: 5px;
  border-top: none !important;
  border-bottom: none;
  text-align: left !important;
}

.detail > p {
  margin-bottom: 0 !important;
  margin-left: 0.5rem;
}

.detail > p > span {
  font-weight: lighter;
  font-size: 18px;
}

.home-button {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #66727a !important;
  background-color: #dfedcd !important;
  border-color: #fff !important;
}

.made-for {
  font-size: 18px;
  font-weight: 400;
  color: #9a9a9a;
}

a.made-for:hover {
  color: #dfedcd;
  text-decoration: none;
}
